$primary-color: #526044;
$secondary-color: #cea176;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

/***************************
* NAV
***************************/
header {
  display: flex;
  // justify-content: space-between;
  background: $primary-color;
  color: #fff;
  align-items: center;
  letter-spacing: 2px;

  .logo {
    font-weight: bold;
    font-size: 20px;
    color: $secondary-color;
    text-decoration: none;
    padding: 1rem;

    &__list {
      list-style: none;
    }
  }

  .nav {
    &__list {
      list-style: none;
      display: flex;
    }

    &__link {
      $spacing: 1em;
      text-decoration: none;
      color: #fff;
      display: inline-block;
      padding: 0.5rem 1rem;
      text-transform: uppercase;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: $spacing;
        right: $spacing;
        height: 2px;
        background: $secondary-color;
        transform: scaleX(0);
        transition: transform 150ms ease-in-out;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
}

main {
  min-height: 80vh;
}

footer {
  text-align: center;
}
